@font-face {
    font-family: Futura New;
    src: url(FuturaNewLight-Reg.ttf);
}
body {
    margin: 0;
    font-family: Futura New;
}
.contentCookItems {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
}
.contentCookItems_items {
    max-width: 682px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 10px;
}
.contentCookItems_text {
    font-size: 36px;
    padding: 90px 0px 50px 0px;
    line-height: 60px;
    text-align: center;
}
.contentCookItems_foto-1 {
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
    min-height: 752px;
    max-width: 682px;
}
.contentCookItems_foto-2 {
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
    min-height: 752px;
    max-width: 682px;
}
.contentCookItems_foto-3 {
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
    min-height: 752px;
    max-width: 682px;
}
.contentCleanItems {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
}
.contentCleanItems_items {
    max-width: 682px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 10px;
}
.contentCleanItems_text {
    font-size: 36px;
    padding: 90px 0px 50px 0px;
    line-height: 60px;
    text-align: center;
}
.contentCleanItems_foto-1 {
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
    min-height: 752px;
    max-width: 682px;
}
.contentCleanItems_foto-2 {
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
    min-height: 752px;
    max-width: 682px;
}
.contentCleanItems_foto-3 {
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
    min-height: 752px;
    max-width: 682px;
}
.contentVideo {
    display: flex;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
    width: 100%;
    min-height: 100vh;
}
.contentVideo_play {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: white;
}
.contentVideo_play img{
    display: block;
    width: 40px;
}


@media (min-width: 829px) {
    h3 {
        font-size: 48px;
        font-weight: 600;
        line-height: 60px;
    }
    .contentBarista {
        display: flex;
        align-items: flex-end;
        background-repeat: no-repeat;
        background-position: 70%;
        background-size: cover;
        width: 100%;
        min-height: 100vh;
    }
    .content_text {
        background-color: rgba(255, 255, 255, 0.8);
        width: 916px;
        margin: 100px;
        font-size: 36px;
        padding: 0px 52px 46px 52px;
        line-height: 43px;
        border-radius: 10px;
    }
    .contentSixItems {
        display: flex;
        align-items: center;
        background-repeat: no-repeat;
        background-position: 70%;
        background-size: cover;
        width: 100%;
        min-height: 100vh;
    }
    .contentSixItems_items {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 100px;
        width: 1250px;
    }
    .contentSixItems_items .item {
        margin: 20px 10px;
        background-color: rgba(255, 255, 255, 0.8);
        font-size: 48px;
        font-weight: 600;
        line-height: 120%;
        border-radius: 10px;
        padding: 50px 42px 50px 42px;
        width: 520px;
    }
    .contentSettings {
        display: flex;
        align-items: flex-end;
        background-repeat: no-repeat;
        background-position: 55%;
        background-size: cover;
        width: 100%;
        min-height: 100vh;
    }
    .contentTubeless {
        display: flex;
        align-items: flex-end;
        background-repeat: no-repeat;
        background-position: 70%;
        background-size: cover;
        width: 100%;
        min-height: 100vh;
    }
    .contentLatteCrema {
        display: flex;
        align-items: flex-end;
        background-repeat: no-repeat;
        background-position: 70%;
        background-size: cover;
        width: 100%;
        min-height: 100vh;
    }
    .contentDegrees {
        display: flex;
        align-items: flex-end;
        background-repeat: no-repeat;
        background-position: 50%;
        background-size: cover;
        width: 100%;
        min-height: 100vh;
    }
    }

@media (max-width: 828px) {
    h3 {
        font-size: 38px;
        font-weight: 600;
        line-height: 60px;
    }
    .contentBarista {
        background-size: 0 0;
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .contentBarista_fon {
        background-repeat: no-repeat;
        background-position: 80%;
        background-size: cover;
        width: 100%;
        height: 680px;
    }
    .content_text {
        background-color: white;
        font-size: 26px;
        padding: 0px 20px 46px 20px;
        line-height: 43px;
    }
    .contentSixItems {
        display: flex;
        flex-direction: column;
        background-repeat: no-repeat;
        background-position: 80%;
        background-size: cover;
        width: 100%;
        height: 1000px;
    }
    .contentSixItems_items {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 20px;
        height: 100%;
    }
    .contentSixItems_items_row1 {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .contentSixItems_items_row2 {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .contentSixItems_items .item {
        margin: 10px 10px;
        background-color: rgba(255, 255, 255, 0.8);
        font-size: 24px;
        text-align: center;
        font-weight: 600;
        line-height: 120%;
        border-radius: 10px;
        padding: 27px 21px;
        width: 180px;
    }
    .contentSettings {
        background-size: 0 0;
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .contentSettings_fon {
        background-repeat: no-repeat;
        background-position: 60%;
        background-size: cover;
        width: 100%;
        height: 680px;
    }
    .contentTubeless {
        background-size: 0 0;
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .contentTubeless_fon {
        background-repeat: no-repeat;
        background-position: 60%;
        background-size: cover;
        width: 100%;
        height: 680px;
    }
    .contentLatteCrema {
        background-size: 0 0;
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .contentLatteCrema_fon {
        background-repeat: no-repeat;
        background-position: 80%;
        background-size: cover;
        width: 100%;
        height: 680px;
    }
    .contentDegrees {
        background-size: 0 0;
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .contentDegrees_fon {
        background-repeat: no-repeat;
        background-position: 60%;
        background-size: cover;
        width: 100%;
        height: 680px;
    }
}